<html>
 <head>
  <link rel="stylesheet" href="/public/style.css">
  <title> E-commerce </title> 
 </head>
 <body>

   <header>
      {% include "views/_nav.njk" %}
   </header>
   <main>
      {% block content %}{% endblock content %}
   </main>
   <footer>
   See U later!
   </footer>
   <script defer src="/public/main.js" ></script>
 </body>
</html>