<html>
 <head>
  <link rel="stylesheet" href="/style.css">
  <title> E-commerce </title> 
 </head>
 <body>
    {% include "views/_nav.njk" %}
    {% block content %}{% endblock content %}
 </body>
</html>