<html>
 <head>
  <link rel="stylesheet" href="/public/style.css">
  <title> E-commerce </title> 
 </head>
 <body>

   <header>
      {% include "views/_nav.njk" %}
      <div>
         {%  set total = cart.total or 0 %}
         <a href="/cart" >Cart: <span id="cartCount">{{ total | int }}</span></a>
      </div>
   </header>
   <main>
      {% block content %}{% endblock content %}
   </main>
   <footer>
   See U later!
   </footer>
   <script defer src="/public/main.js" ></script>
 </body>
</html>