{% extends "_base.njk" %}

{% block content %}
    <h1>Cart</h1>

    {%  set total = cart.total or 0 %}
    Total: {{ total }}

    <section class="products">
    {% for id, product in cart.items %}
        <article>
            <header>
                <h2>{{ product.name }}</h2>
            </header>
            <img src="{{ product.image }}" />
            <aside>
                Price: {{ product.price }}
                <a href="/product/{{ product._id["$oid"] }}" >View details</a>
                Quantity: {{ product.quantity }}
            </aside>
        </article>
    {% endfor %}
    </section>

    <a href="/checkout">Order!</a>
{% endblock content %}