{% extends "_base.njk" %}

{% block content %}
<section class="products">
    <article id="product" data-id="{{ product._id["$oid"] }}">
        <header>
            <h2>{{ product.name }}</h2>
        </header>
        <img src="{{ product.image }}" />
        <aside>
            Price: {{ product.price }}
            <button id="addToCart">Add to cart</button>
        </aside>
    </article>
</section>
{% endblock content %}

